<app-toolbar [subtitleList]="subtitleList" [projectKey]="projectKey" [videoId]="videoId" [projectName]="projectName"
  [hasScript]="script.length" [showUndo]="showUndo" [showRedo]="showRedo" [loading]="loading"
  (videoSelected)="videoSelected($event)" (yTLinkPlayed)="yTLinkPlayed($event)"
  (subtitleSelected)="subtitleSelected($event)" (translationSelected)="translationSelected($event)"
  (translate)="translate($event)" (chunkModeChanged)="chunkModeChanged($event)" (save)="onSave()"
  (load)="onLoad($event)" (export)="onExportSubtitle($event)" (downloadProject)="onDownloadProject()"
  (projectNameChanged)="onProjectNameChanged($event)" (autoChunk)="onAutoChunk()" (undoEmit)="undo()"
  (redoEmit)="redo()" (removeMultipleSentences)="onRemoveMultipleSentences()"
  (removeEmptySentences)="onRemoveEmptySentences()" (fixOverlapping)="onFixOverlapping()"
  (mergeToSentences)="onMergeToSentences($event)" (shiftTimes)="onShiftTimes()" (openHTU)="onOpenHTU()"
  (openKS)="onOpenKS()">
</app-toolbar>
<mat-sidenav-container class=" sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <app-sidenav-embed-video [url]="url" [videoType]="videoType" [script]="script"
      [scriptTranslation]="scriptTranslation" [preview]="preview" [indexActive]="indexActive"
      (playerInitialized)="playerInitialized($event)" (seekTo)="seekTo($event)" (played)="onPlayButton($event)"
      (audioVolumeChanged)="audioVolumeChanged($event)">
    </app-sidenav-embed-video>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-audiovizualizer [url]="url" (wavesurferInitialized)="wavesurferInitialized($event)" (seekTo)="seekTo($event)">
    </app-audiovizualizer>
    <!-- <app-script-edit *ngIf="indexActive!==null" [indexActive]="indexActive" [time]="timeStamp[indexActive]"
      [startMs]="timeStamp[indexActive].startMs" [endMs]="timeStamp[indexActive].endMs" [sentence]="script[indexActive]"
      [translation]="scriptTranslation[indexActive]"></app-script-edit> -->
    <cdk-virtual-scroll-viewport *ngIf="!chunkMode" [itemSize]="82" class="scroll-viewport"
      style="height: calc(100% - 120px);">
      <app-script-line *cdkVirtualFor="let time of timeStamp; let i = index;" [index]="i" [indexActive]="indexActive"
        [startMs]="timeStamp[i].startMs" [endMs]="timeStamp[i].endMs" [time]="timeStamp[i]"
        [previousEndMs]="i > 0 ? timeStamp[i-1].endMs : null"
        [nextStartMs]="timeStamp.length - 1 > i  ? timeStamp[i+1].startMs : null" [script]="script"
        [scriptTranslation]="scriptTranslation" [paused]="paused" (lineClick)="lineClick($event)"
        (playRegion)="onPlayRegion()" (pause)="pause()" (contextmenu)="onContextMenu($event, i)">
      </app-script-line>
    </cdk-virtual-scroll-viewport>
    <cdk-virtual-scroll-viewport *ngIf="chunkMode" [itemSize]="38" class="scroll-viewport"
      style="height: calc(100% - 120px);">
      <app-script-line-chunk *cdkVirtualFor="let time of timeStamp; let i = index;" [index]="i" [sentence]="script[i]"
        [script]="script">
      </app-script-line-chunk>
    </cdk-virtual-scroll-viewport>
    <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
    </div>
    <mat-menu #contextMenu="matMenu">
      <ng-template matMenuContent let-index="index">
        <span style="font-size: 10px;margin-left: 12px;margin-top: -10px;">{{index+1}}</span>
        <button mat-menu-item (click)="deleteRow(index)">Delete Row</button>
        <button mat-menu-item (click)="insertNext(index)">Insert next</button>
        <button mat-menu-item (click)="duplicate(index)">Duplicate</button>
        <button mat-menu-item (click)="merge(index)">Merge with next line</button>
        <button mat-menu-item (click)="deleteLeft(index)">Delete Only Left Row</button>
        <button mat-menu-item (click)="deleteRight(index)">Delete Only Right Row</button>
        <button mat-menu-item (click)="insertLeft(index)">Insert Only Left Row</button>
        <button mat-menu-item (click)="insertRight(index)">Insert Only Right Row</button>
      </ng-template>
    </mat-menu>
  </mat-sidenav-content>
</mat-sidenav-container>
