.script-container {
  margin: 0 10px;
}

.script-container.active {
  border: 1px solid #3700B3;
  border-radius: 4px;
}

.text-preview {
  margin: 10px 0px;
  padding: 0 12px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow-y: scroll;
  resize: none;
}

.underline {
  border-top: 1px dotted gray;
  margin: 0 12px;
}

/* ::ng-deep .mat-input-underline {
  display: none;
} */
