<div fxLayout="row" class="script-container" fxLayoutAlign="center center">
  <span style="font-size: small; margin-left: 12px">{{index+1}}</span>
  <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 12px">
    <span style="color: gray; font-size: small;">{{startTime}}</span>
    <span style="color: gray; font-size: small;">{{endTime}}</span>
  </div>
  <div fxLayout="column" style="width: 100%;">
    <span class="text-preview">{{sentence}}</span>
    <hr class="underline">
    <span class="text-preview" style="color: gray;">{{translation}}</span>
  </div>
</div>
