<mat-toolbar>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Video">
      <div fxLayoutAlign="start stretch">
        <input hidden (change)="onOpenVideo($event)" #videoInput type="file"
          accept="video/mp4,video/webm,video/ogg,audio/*">
        <button mat-button (click)="videoInput.click()">
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon svgIcon="video-plus" style="margin-top: 8px;"></mat-icon>
            <span style="font-size: smaller;margin-top: -10px;">Open Video</span>
          </div>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button (click)="onPlayYTLink()">
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon svgIcon="youtube" style="margin-top: 8px;"></mat-icon>
            <span style="font-size: smaller;margin-top: -10px;">Play Video</span>
          </div>
        </button>
        <mat-form-field flexLayout="row" style="margin-right: 12px;margin-top:10px" [style.width.px]="150">
          <input matInput #linkInput placeholder="Youtube Link" [(ngModel)]="youtubeLink">
          <button *ngIf="youtubeLink" mat-icon-button matSuffix matTooltip="Clear" (click)="youtubeLink=''">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        </mat-form-field>
        <button mat-icon-button (click)="copyURL(linkInput)" [disabled]="!youtubeLink" matTooltip="Copy URL"
          style="margin-top: 8px; margin-left: -15px;">
          <mat-icon svgIcon="content-copy"></mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
      </div>
    </mat-tab>
    <mat-tab label="Subtitle">
      <button mat-button [matMenuTriggerFor]="menu">
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-icon svgIcon="subtitles-outline" style="margin-top: 8px;"></mat-icon>
          <span style="font-size: smaller;margin-top: -10px;">Select Subtitle</span>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <input hidden (change)="onSubtitleFileSelected($event)" #subtitleInput type="file"
          accept=".srt,.sbv,.ass, .mss, .txt, .xlsx">
        <button mat-menu-item (click)="subtitleInput.click();subtitleInput.value=null"
          matTooltip="format supported: .srt,.sbv,.ass, .mss, .txt, .xlsx">
          <mat-icon svgIcon="folder"></mat-icon>
          <span>from files</span>
        </button>
        <button mat-menu-item (click)="onOpenStt()" disabled="true">
          <mat-icon svgIcon="text-to-speech"></mat-icon>
          <span>generate from audio</span>
        </button>
        <button mat-menu-item *ngFor="let subtitle of subtitleList" (click)="onSubtitleSelected(subtitle)">
          {{subtitle.lang_translated}}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuTranslation">
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-icon svgIcon="subtitles" style="margin-top: 8px;"></mat-icon>
          <span style="font-size: smaller;margin-top: -10px;">Select Translation</span>
        </div>
      </button>
      <mat-menu #menuTranslation="matMenu">
        <input hidden (change)="onTranslationFileSelected($event)" #translationInput type="file"
          accept=".srt,.sbv,.ass,.mss,.txt">
        <button mat-menu-item (click)="translationInput.click();translationInput.value=null"
          matTooltip="format supported: .srt,.sbv,.ass,.mss,.txt">
          <mat-icon svgIcon="folder"></mat-icon>
          <span>from files</span>
        </button>
        <button mat-menu-item *ngFor="let subtitle of subtitleList" (click)="onTranslationSelected(subtitle)">
          {{subtitle.lang_translated}}
        </button>
      </mat-menu>
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</mat-toolbar>
